@import "~@less";


.content-default() {
  height: 100%;
  border-radius: 15px;
  .flex(column, flex-start, flex-start);
  padding: 0 50px;
}

.base-warp{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.base-container {
  width: 100%;
  height: 100%;
  background: #fff;
  background: -webkit-linear-gradient(to bottom, #7aa2d213, #dbd4b416, #cc95c009);
  background: linear-gradient(to bottom, #7aa2d213, #dbd4b416, #cc95c009);
  display: flex;
  flex-direction: column;
  align-items:center;
}

.base-header{
  width: 100%;
  height: 80px;
}

.main-content {
  width: 100%;
  min-width: 1000px;
  flex:1;
  border-radius: 15px;
  .flex(column, flex-start, flex-start);
  padding: 0 50px;
}

.base-footer {
  width: 1000px;
  height: 75px;
  .flex();
}
