@import "~@less";

.icon-list-warp {
  .icon-box {
    padding: 7px 7px;
    width: 60px;
    height: 60px;

    .flex-center();

    &:hover {
      cursor: pointer;
    }

    &:hover .icon-item {
      width: 60px;
    }

    .icon-item {
      transition: .5s;
    }

    .icon-active {
      width:55px;
      border-radius: 20%;
      border: 3px solid #ccc;
    }
  }
}
