@import "~@less";

.home-warp {
  width: 100%;
  height: 100%;
  .flex(column, center, center);
  overflow-x: auto;
  padding: 0 20px;
  margin-top: 5px;
  overflow-y: hidden;

  .home-search {
    width: 100%;
    .flex();
  }

  .task-card-box {
    position: relative;
    width: 100%;
    margin-top: 2%;
    .flex(row, center, space-between);
    overflow: hidden;

    .task-card-list {
      position: relative;
      height: 100%;
      flex: 1;
      .flex(row, center, flex-start);
      overflow-x: scroll;
      overflow-y: hidden;
      padding: 0 20px;
    }

    .task-card-add {
      width: 100px;
      height: 100%;
      .flex();
      cursor: pointer;
    }
  }

}
